<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgotpassword.css' %}">
    <title>Satka Matka | forgot password </title>
    <style>
        body {
            background-image: url("{% static 'images/bg2.jpg' %}");
            background-repeat:no-repeat;
            background-size:100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navigation1" href="#">WebSiteLogo</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/crm/show_home_page/" class="navigation1">Home</a></li>
                <li><a href="/template/homepage.html">Contact</a></li>
                <li><a href="/template/homepage.html">About</a></li>
                <li><a href="/template/homepage.html">Profile</a></li>
            </ul>
        </div>
    </nav>
    <div class="heading text-center">
        <h2>Kalyan Satta Matka Result</h2>
    </div>
    <div class="paragraph1 text-center">
        <p>Quickly get kalyan matka result at Satta Matka</p>
        <p><strong></strong>Have you known sattamatka guessing in your country legal or illegal? I am satta king dj viki dada today intensely discusses kalyan matka and how to get satta matka result quickly. I show you top class matka tips today and there matka guessing. In this indian matka game, you bet you a little amount of money for earning a vast amount of money. Using of matka trick and tips in matka market you crack any satta bazar and become a matka boss. Satka matka kalyan is the most intelligent Matka gambling in india and saudi arabia. Milan rajdhani matka, madhur matka, and dpboss matka chart also provide by sattamatkagod.net. Satta matka sattamatka is the logiest word use in matka industry.</strong></p>
    </div>
    <div class="form1">
        <form action="/crm/show_otp_page/">
            <div class="input-group email">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" name="email" class="form-control input-sm" id="username" placeholder="Enter Email Address" style="width: 250px;">
            </div><br><br><br>
            <div class="send">
                <button type="submit" class="btn-primary">Send</button>
            </div>
        </form>>
    </div>
</body>
</html>