<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <title>Satka Matka | forgot password </title>
</head>
<body>
    <nav class="navbar navbar-default navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navigation1" href="#">WebSiteLogo</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/crm/show_home_page/" class="navigation1">Home</a></li>
                <li><a href="/template/homepage.html">Contact</a></li>
                <li><a href="/template/homepage.html">About</a></li>
                <li><a href="/template/homepage.html">Profile</a></li>
                <li class="logout"><a href="/crm/show_sign_in_page/">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <p>{{ name }}</p>
    </div>
    <div class="heading text-center">
        <h2>Kalyan Satta Matka Result</h2>
    </div>
    <div class="paragraph1 text-center">
        <p>Quickly get kalyan matka result at Satta Matka</p>
        <p><strong></strong>Have you known sattamatka guessing in your country legal or illegal? I am satta king dj viki dada today intensely discusses kalyan matka and how to get satta matka result quickly. I show you top class matka tips today and there matka guessing. In this indian matka game, you bet you a little amount of money for earning a vast amount of money. Using of matka trick and tips in matka market you crack any satta bazar and become a matka boss. Satka matka kalyan is the most intelligent Matka gambling in india and saudi arabia. Milan rajdhani matka, madhur matka, and dpboss matka chart also provide by sattamatkagod.net. Satta matka sattamatka is the logiest word use in matka industry.</strong></p>
    </div>
    <div class="paragraph2 text-center">
        <p><strong>Get today matka open to close and quick live Satta Results freely</strong></p>
    </div>
    <div class="paragraph3">
        <div class="text-center para1">
            <h3>SATTA MATKA RESULT</h3>
        </div>
        <div class="table text-center">
            <h3>RAJDHANI EVENING</h3>
            {% if str1 == None %}
                <h4 class="number">{{00}} - {{00}} - {{00}}</h4>
            {% else %}
                <h4 class="number">{{str1}} - {{str2}}-{{str3}}</h4>
            {% endif %}
            <input type="button" value="Refresh Result" onClick="window.location.reload();">
        </div>
    </div>
    <div class="paragraph4">
        <div class="table1 text-center">
            <h3>MILAN DAY</h3>
            <!-- {% if str1 == None %}
                <h4 class="number">{{00}} - {{00}} - {{00}}</h4>
            {% else %}
                <h4 class="number">{{str1}} - {{str2}}-{{str3}}</h4>
            {% endif %} -->
            <!-- 
                temperaly we are saving number it has to be in dynamic
             -->
             <h4>790 - 65 - 532</h4>
             <span>09:00 AM to 11:00 AM</span>
        </div><hr>
        <div class="table1 text-center">
            <h3>MILAN NIGHT</h3>
            <!-- {% if str1 == None %}
                <h4 class="number">{{00}} - {{00}} - {{00}}</h4>
            {% else %}
                <h4 class="number">{{str1}} - {{str2}}-{{str3}}</h4>
            {% endif %} -->
            <h4>896 - 56 - 324</h4>
            <span>10:30 AM to 12:30 PM</span>
        </div><hr>
        <div class="table1 text-center">
            <h3 style="text-transform: uppercase;">kalyani NIGHT</h3>
            <!-- {% if str1 == None %}
                <h4 class="number">{{00}} - {{00}} - {{00}}</h4>
            {% else %}
                <h4 class="number">{{str1}} - {{str2}}-{{str3}}</h4>
            {% endif %} -->
            <h4>654 - 00 - 121</h4>
            <span>11:00 AM to 12:00 PM</span>
        </div><hr>
    </div>
</body>
</html>