<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <title>Satka Matka | Log In </title>
    <script src="{% static 'js/signup.js' %}"></script>
    <style>
        body {
            background-image: url( "{% static 'images/bg1.jpg' %}");
            background-repeat:no-repeat;
            background-size:100%;
        }
        .form1 {
            background-image: url( "{% static 'images/bg1.jpg' %}");
            background-repeat:no-repeat;
            background-size:250%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navigation1" href="#">WebSiteLogo</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/crm/show_home_page/" class="navigation1">Home</a></li>
                <li><a href="/template/homepage.html">Contact</a></li>
                <li><a href="/template/homepage.html">About</a></li>
                <li><a href="/template/homepage.html">Profile</a></li>
                <li class="login"><a href="/crm/show_sign_up_page/">Sign Up</a></li>
            </ul>
        </div>
    </nav>  
    <div class="form1">
        <form action="/crm/show_home_page/" method="POST" onsubmit="return signIn()">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="username" name="username" placeholder="Email" class="form-control input-sm" style="width: 350px;">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control input-sm" style="width: 350px;color: black;">
            </div><br>
            <div class="input-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="Remember_me" class="rememberme">Remember Me
                </label>
            </div>
            <div>
                <h5></h5><a href="/crm/show_forgot_password_page/" class="forgot_password">Forgot Password ?</a></h5><br>
            </div><br>
            <div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
    </div>
</body>
</html>