.hello {
    background-color: yellow;
}

.navigation {
    background-color: #F2E6CE;
}

.navigation1 {
    color: whitesmoke;
}

/* body {
    background-color: #4F5B67;
} */

.email {
    margin-left: 500px;
    margin-top: 250px;
}

.send {
    margin-left: 620px;
    margin-top: -15px;
}

.form1 {
    margin-top: -150px;
}