.hello {
    background-color: yellow;
}

.navigation {
    background-color: #F2E6CE;
}

.navigation1 {
    color: whitesmoke;
}

#otp {
    margin-left: 500px;
    margin-top: 130px;
    width: 350px;
}

.send {
    margin-left: 620px;
}

.heading {
    background-color: #141414;
    margin-top: -20px;
    color: pink;
    border-color: pink;
}

.paragraph1 {
    background-color: #141414;
    color: whitesmoke;
    font-size: larger;
    font-style: italic;
}

.paragraph2 {
    background-color: #141414;
    color: whitesmoke;
    font-style: italic;

}

.paragraph3 {
    margin-top: -10px;
    border-style: groove;
    border-color: chartreuse;
    padding-top: 2px;
}

.para1 {
    background-color: brown;
    margin-top: -20px;
}

.table h3 {
    color: blue;
}

.table h4 {
    color: red;
}

.table input {
    color: blue;
    
}

.reload {
    margin-top: -10px;
}

.paragraph4 {
    border-style: groove;
    border-color: blue;
}

.table1 h4 {
    color: blue;
}

.table1 h3 {
    color: red;
    text-transform: uppercase;
}
.table1 {
    font-style: italic;
    font-weight: bold;
}

.logout {
    text-align: right;
    margin-left: 830px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

span {
    text-align: center;
    color: chocolate;
}
