.hello {
    background-color: yellow;
}

.navigation {
    background-color: #F2E6CE;
}

.navigation1 {
    color: whitesmoke;
}

#otp {
    margin-left: 500px;
    margin-top: 130px;
    width: 350px;
}

.send {
    margin-left: 620px;
}

.heading {
    background-color: #141414;
    margin-top: -20px;
    color: pink;
    border-color: pink;
}

.paragraph1 {
    background-color: #141414;
    color: whitesmoke;
    font-size: larger;
    font-style: italic;
}

.paragraph2 {
    background-color: #141414;
    color: whitesmoke;
    font-style: italic;
}

.paragraph3 {
    margin-top: -10px;
    border-style: groove;
    border-color: chartreuse;
}

.para1 {
    background-color: brown;
    margin-top: -20px;
}

.form1 {
    margin-top: -5px;
}
