body {
    /* background-color: #B7E0F6; */
    background-image:url( "{% static 'images/background.jpg' %}");
    background-repeat:no-repeat;
    background-size:100%;
}

.login {
    margin-left: 830px;
}

.form1 {
    margin-left: 500px;
    margin-top: 150px;
    width: 470px;
    height: 280px;
    height: -5;
    padding-left: 40px;
    padding-top: 60px;
    /* border: 2px solid yellowgreen; */
    background-color: white;
    /*
     box-shadow: 10px 10px 5px #aaaaaa; */
}

.input-group input{
    color: whitesmoke;
}

.pwd {
    color: black;
}

.forgot_password {
    color: whitesmoke;
}