.form1 {
    margin-left: 450px;
    margin-top: 140px;
    padding-left: 50px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    background-color: transparent;
    box-shadow: 10px 10px 5px yellow;
}

.signin a {
    color: green;
}